
@{
    ViewData["Title"] = "DelErr";
}

    <h1 >Sorry...</h1>
    <h2 class="lead">You cannot delete this table. It is used in another object.</h2>
<p><img src=""file:///e:/Марія/unic/soryy.jpg" alt="sorry"</p>