@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2> Here you can find information about Dancers, Choreography, Competitions and more. Good luck) </h2>
    <h3>Hier finden Sie Informationen zu Tänzern, Choreografie, Wettbewerben und mehr. Viel Glück)</h3>
    <h4>Ici vous pouvez trouver des informations sur les danseurs, la chorégraphie, les compétitions et plus encore. Bonne chance)</h4>
    <h5>Тут ви можете знайти інформацію про Танцівників, Хореогафії, Конкурси та багато іншого. Удачі)</h5>
    <h6>  Aquí puede encontrar información sobre bailarines, coreografías, concursos y más. Buena suerte)</h6>
    <h7>  ここでは、ダンサー、振り付け、競技などに関する情報を見つけることができます。頑張って） </h7>
    
</div>
